
$theme: '';.sc-theme .sc-dialog-pane {
  z-index: 2000;
  background: #494949;
}


.sc-theme div.sc-ghost-view {
  background-image: url(data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==) top left no-repeat; 
  *background-image: url('/static/sproutcore/foundation/en/8e80da2e6ef59709a57f039375e5476dcd2f804d/source/blank.gif') top left no-repeat; /* IE < 8 */
}
