
$theme: '';/* @group SC.SplitView */

.sc-theme .sc-horizontal .sc-split-divider-view {
	background: url('/static/sproutcore/legacy_theme/en/9785e0b8724b303e2d6d2feecc8197d9e76cc789/source/images/sc-theme-ysprite.png') repeat-y 0px top;
}

.sc-theme .sc-vertical .sc-split-divider-view {
	background: url('/static/sproutcore/legacy_theme/en/9785e0b8724b303e2d6d2feecc8197d9e76cc789/source/images/sc-theme-repeat-x.png') repeat-x 0px -1397px;
}


