
$theme: '.ace';
$theme: '.ace.sc-small-size';


  #{$theme}.button {

    .sc-button-label {
      font-size: 11px;
      margin-top:-4px;
      height: 18px;
      padding-top:2px;
    }

    & > .left {
@extend .__s31_0;
-chance-offset: "source/resources/button/ace/18px/normal_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s31_1;
-chance-offset: "source/resources/button/ace/18px/normal_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s31_2;
-chance-offset: "source/resources/button/ace/18px/normal_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;

    &.active {
      & > .left {
@extend .__s31_3;
-chance-offset: "source/resources/button/ace/18px/active_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s31_4;
-chance-offset: "source/resources/button/ace/18px/active_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s31_5;
-chance-offset: "source/resources/button/ace/18px/active_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;
    }

    &.sel, &.def {
      & > .left {
@extend .__s31_6;
-chance-offset: "source/resources/button/ace/18px/selected_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s31_7;
-chance-offset: "source/resources/button/ace/18px/selected_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s31_8;
-chance-offset: "source/resources/button/ace/18px/selected_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;

    }

    &.sel.active, &.def.active {
      & > .left {
@extend .__s31_9;
-chance-offset: "source/resources/button/ace/18px/selected_active_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s31_10;
-chance-offset: "source/resources/button/ace/18px/selected_active_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s31_11;
-chance-offset: "source/resources/button/ace/18px/selected_active_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;
    }
    
    &.sc-static-layout .sc-button-label {
      margin-left: 3px;
      margin-right: 3px;
    }
  }

$theme: '.ace';

